*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background-color: aliceblue;
}

#board {
  position: relative;
  display: grid;
  grid-template-rows: repeat(6, 100px);
  grid-template-columns: repeat(7, 100px);
  justify-items: center;
  align-items: center;
  padding: 5px;
  gap: 10px;

  background-color: blue;
}

.slot {
  background-color: aliceblue;
  width: 90%;
  height: 90%;
  border-radius: 50%;
}

.column-container {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.column {
  height: 100%;
  width: 110px;
  /* border: 1px solid black; */
}

.column:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/*
#r6c2 {
  background-color: red;
}

#r3c5 {
  background-color: yellow;
}
*/
